<!-- wp:pattern {"slug":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group container">
    <!-- wp:columns -->
    <div class="wp-block-columns py-20 border-b">
        <!-- wp:column {"width":"50%", "direction":"column", "alignItems": "start"} -->
        <div class="wp-block-column space-y-12">
            <!-- wp:heading {"level": 1} -->
            <h1 class="font-extrabold uppercase text-6xl">Mindanao Summit 2024</h1>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p class="text-sm uppercase">Lorem ipsum dolor sit amet consectetur. Ornare amet cursus risus pellentesque. Sed aenean cras ac venenatis neque. Elementum sed id eros vulputate pellentesque. Euismod bibendum volutpat egestas lectus eu diam.
                Dui pretium tincidunt et quis. Vitae orci leo ullamcorper eget. Lobortis.</p>
            <!-- /wp:paragraph -->

            <div class="space-x-2 tracking-wide flex">
                <input type="email" name="email" class="px-4 py-2 w-full" placeholder="Enter your email address..." />
                <button>Apply Now</button>
            </div>
        </div>
        <!-- /wp:column -->

        <!-- wp:column -->
        <div class="wp-block-column">

        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group container py-24 border-b">
    <!-- wp:heading {"level": 2} -->
    <h2 class="text-3xl font-extrabold uppercase">Meet the speakers</h2>
    <!-- /wp:heading -->

    <!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
    <div class="wp-block-group">
        <!-- wp:group {"layout":{"type":"constrained"}} -->
        <div class="wp-block-group border rounded-lg bg-white bg-opacity-50">
            <!-- wp:heading {"level":1} -->
            <h1 class="wp-block-heading">Test</h1>
            <!-- /wp:heading -->
        </div>
        <!-- /wp:group -->

        <!-- wp:heading -->
        <h2 class="wp-block-heading">Test 2</h2>
        <!-- /wp:heading -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group container py-24 border-b">
    <!-- wp:heading {"level": 2} -->
    <h2 class="text-3xl font-extrabold uppercase">Topics</h2>
    <!-- /wp:heading -->
</div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group container py-24">
    <!-- wp:heading {"level": 2} -->
    <h2 class="text-3xl font-extrabold uppercase mb-8">Ticket Prices</h2>
    <!-- /wp:heading -->

    <!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
    <div class="wp-block-group">
        <!-- wp:group {"layout":{"type":"flex", "orientation":"horizontal"}} -->
        <div class="wp-block-group border rounded-lg bg-white bg-opacity-50 w-full p-8">
            <!-- wp:group {"layout":{"type":"constrained"}} -->
            <div>
                <!-- wp:heading {"level":3} -->
                <h3 class="text-2xl wp-block-heading font-extrabold mb-4">Test</h3>
                <!-- /wp:heading -->

                <!-- wp:list -->
                <ul class="pl-8">
                    <!-- wp:list-item -->
                    <li>Test 123</li>
                    <!-- /wp:list-item -->

                    <!-- wp:list-item -->
                    <li>Test 123</li>
                    <!-- /wp:list-item -->
                </ul>
                <!-- /wp:list -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group container py-24">
    <!-- wp:heading {"level": 2} -->
    <h2 class="text-3xl font-extrabold uppercase">Volunteers</h2>
    <!-- /wp:heading -->
</div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"footer"} /-->